.table-title{
    background-color: #299BE4;
    padding: 10px;
    color: white;

}

button.refrech-btn{
    color: #566787;
    background-color: #FFFFFF;
    border: none;
    padding: 5px;
}

  table{
    font-size: smaller;
  }
  td,th {
    vertical-align: middle;
  }
  td{
    font-weight: 600;
  }
  .btn-ajoute{
    cursor: pointer;
  font-weight: 700;
  }
  .btn-ajoute:hover{
    color: black;
  }
  @media screen and (max-width: 768px) {
div.content{
    padding: 2px 5px;
}
  }
  
  .trash-muli{
    width: 20px;
  }
 
  input[type="checkbox"] {
    cursor: pointer;
  }