/* .table-container {
    max-height: 400px; 
    overflow-y: scroll; 
  } */
  .cadre-table-scroll {
    display: inline-block;
    height: 25em;
    overflow-y: scroll;
  }
  .table-scroll thead th {
    position: sticky;
    top: 0;
  }
  .table-scroll tfoot td {
    position: sticky;
    bottom: 0;
  }

.remove-all-btn {
  width:40px;
  height:40px;
  padding: 4px;
  font-weight: 600;
  transition: transform 0.3s ease-in-out; 
}
.btn-table ,.tr {
 
  transition: transform 0.3s ease-in-out; 
}
.remove-all-btn:hover ,.btn-table:hover{
  transform: scale(1.1); /* Increasing the size on hover */
  cursor: pointer; /* Changing cursor on hover */
}

/* tr.tr:hover::after {
  
 
} */
tr.tr:hover{
  transform: scale(0.99);
  cursor: pointer; 
  border:2px solid #DEE2E6 ;
 
  z-index: 999;
}
  .search-filter{
    width: 60%;
  }

  
 /* Define your CSS styles for the modal, modal-dialog, modal-content, input, and buttons */

.modal {
  display: block;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
  margin: 5% auto;
  width: 370px;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
}

.modal-body input.modal-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.modal-footer button{
   color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  
}
.modal-footer button.annuler {
  background-color: #f44336;
 
}
.modal-footer button.ajoute {
  background-color: #5cf405;
 
}
.text-with-shadow {
  text-shadow: 2px 0px 4px rgb(0, 0, 0);
}
.mySwiper{
  background-color: var(--primary-blue);
}
.checkbox-create-text{
font-size: 13px;
}
/* Add any additional styles or modifications as needed */
